{% extends "base.html" %}
{% block conteudo %}
<ul>
    {% for agendamento in agendamentos %}
    <li>
        {{ agendamento.nome }} - {{ agendamento.data }} {{ agendamento.horario }} - {{ agendamento.servico }}
        <a href="{% url 'editar_agendamento' agendamento.pk %}">Editar</a> |
        <a href="{% url 'excluir_agendamento' agendamento.pk %}">Excluir</a> |
        <a href="{% url 'gerar_fatura_pdf' agendamento.pk %}">Gerar Fatura (PDF)</a>
    </li>
    {% endfor %}
</ul>

{% endblock conteudo %}